#map {
  width: 100% !important;
  height: 100% !important;
  background-color: white;
}

ion-button {
  --color: #fff;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 98%;
  --border-radius: 10px;
}

ion-spinner {
  --color: var(--ion-color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-modal{
  --background: #fff;
  ion-toolbar{
    --background: #fff;
    margin-top: 16px;
  }
}
